<h1><%= @user.username %></h1>

<%@user.games.each do |game|  %>

    <h3><%=game.deck.name %></h3>

    <table>
      <thead>
        <tr>
            <th data-field="date">Date</th>
            <th data-field="cards_in_deck">Cards in deck</th>
            <th data-field="first_guess_correct">First guess correct</th>
            <th data-field="total_guesses">Total guesses</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%=game.updated_at %></td>
          <td><%=game.deck.cards.size %></td>
          <td>
            <% guesses_for_game = Guess.where({user_id: @user.id, game_id: game.id}) %>
            <% first_guess_corrects = 0 %>
            <% guesses_for_game.each do |guess| %>
              <% first_guess_corrects += 1 if guess.first_guess_correct %>
            <% end %>
            <%= first_guess_corrects %>
          </td>
          <td><%= guesses_for_game.size %></td>
        </tr>
      </tbody>
    </table>

<% end %>
